@use "general";

body {
  width: 100%;
  height: 100vh;
  display: grid;
}

#hero_img {
  justify-self: center;
  width: 100%;
  max-width: 700px;
  min-height: 45vh;
  max-height: 400px;
  object-fit: cover;
  object-position: 30% 50%;
  margin-bottom: 8px;
}

#page_main {
  width: 75%;
  height: auto;
  margin-left: 5%;
  margin-bottom: 24px;
  display: grid;
  grid-template-rows: auto auto;
  gap: 24px;
  > h2 {
    color: general.$dark-font-color;
  }
  > p {
    color: general.$light-font-color;
    line-height: 22px;
  }
}

#page_nav {
  justify-self: center;
  align-self: end;
  width: 90%;
  min-height: 10vh;
  display: grid;
  place-items: center;
  gap: 8px;
  margin-bottom: 24px;
  > .btn {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    display: grid;
    place-items: center;
  }
  > .white {
    border: 1px solid general.$light-font-color;
    color: general.$dark-font-color;
  }
  > .blue {
    background-color: general.$primary-color;
    color: general.$primary-white;
  }
}
